# Hugging Face Access Token (Role: Write)
HF_TOKEN=your_huggingface_write_token_here

# Kaggle API Credentials (for dataset download on Colab)
KAGGLE_USERNAME=phucdangg
KAGGLE_KEY=your_kaggle_key_here
